body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h1 {
    color:red;
}

p {
    font-size: 16px;
}
#taskContainer{
    display: flex;
    flex-direction: column;
}